<header class="standardGreen" style="height:2rem">
    <div style="display:flex; flex-direction:row; height:100%; align-items:center;">
        <img src="logo_small.png" height="20" width="20" style="margin-left:10px;margin-right:10px;"/>
        <div style="color:white;">
            Video Share
        </div>
    </div>
</header>
