.vs-checked {
    border-radius: 50%;
    outline: 2px solid #06C202;
    outline-offset: -2px;
    align-items:center;
    justify-items:center;
}

.vs-unchecked {
    border-radius: 50%;
    background-color: #E1E1E1;
}

.vs-toggle {
    cursor:pointer;
}