@inject IDbContextFactory<WebAppDbContext> _contextFactory

<div style=@style>
    @if (video is null)
    {
        <Loading/>
    }
    else
    {
        
        <div @onclick=onClick style="display:flex;flex-direction:row;position:relative;left:-3px;top:-3px;cursor:pointer;">
            @if (disabled ?? false)
            {
                <div style="width:105%;height:105%;background-color:rgba(251,251,251,0.6);position:absolute;cursor:default;z-index:1" />
            }
            <img src=@("http://img.youtube.com/vi/" + video.YtvideoId + "/hqdefault.jpg") style="height:128px;position:relative;top:-14px;aspect-ratio:4 / 3;border-right:3px solid rgba(0, 0, 0, 0.5);" />
            <div style="display:flex;flex-direction:row;margin-top:10px; margin-bottom:10px;padding-left:20px; padding-right:20px;flex-grow:1;">
                <div style="width:70%; padding-right:20px;display:flex;flex-direction:column;">
                    <h5 style="height:min-content">@video.VideoTitle</h5>
                    @if (includeCourseTitle && video.Course is not null) {
                        <span style="height:auto;font-size:14px;font-style:italic;">@video.Course.CourseName</span>
                        <span class="text-description" style="height:min-content;font-size:12px;">@video.VideoDescription</span>
                    }
                    else {
                        <span class="text-description" style="height:auto;font-size:12px;">@video.VideoDescription</span>
                    }
                </div>
                <div style="flex-grow:1;display:flex;">
                    @childContent
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public int VideoID { get; set; }
    [Parameter]
    public StyleProperties? styleProps { get; set; }
    [Parameter]
    public bool includeCourseTitle {get; set;}
    [Parameter]
    public EventCallback onClick { get; set; }
    [Parameter]
    public RenderFragment childContent { get; set; }
    [Parameter]
    public bool? disabled { get; set; } = false;

    private string style;
    protected Video? video;

    protected override async Task OnParametersSetAsync()
    {
        style = styleProps?.GetStyle() + "border: 3px solid rgba(0, 0, 0, 0.5);border-radius: 6px;overflow:hidden;";
        using var context = await _contextFactory.CreateDbContextAsync();
        if (includeCourseTitle)
        {
            video = await context.Videos.Where(video => video.VideoId == VideoID).Include(video => video.Course).FirstOrDefaultAsync();
        }
        else
        {
            video = await context.Videos.FindAsync(VideoID);
        }
        if (disabled ?? false)
        {
            //If component is disabled, overwrite the onClick to be DoNothing()
            onClick = new EventCallbackFactory().Create(this, () => DoNothing());   
        }
        StateHasChanged();
    }
    private void DoNothing()
    {
        
    }
}
