<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="VideoShare" connectionString="Server=VIDEOSHARE-DB\SENIORPROJECTS2; Database=WebAppDb; User Id=appuser; Password=ji685QJb9ju5; Encrypt=True; TrustServerCertificate=True; MultipleActiveResultsSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>