@page "/"
@using System.Security.Claims
@using VideoShareData.Helpers

<PageTitle>Home</PageTitle>

<h1>Video Share</h1>

<AuthorizeView>
    <Authorized>
        Hello, @(ClaimsHelper.getClaimValue(context, ClaimTypes.Name) ?? "").
    </Authorized>
    <NotAuthorized>
        Please Log In
    </NotAuthorized>
</AuthorizeView>