@inherits LayoutComponentBase

<PageTitle>VideoShareApp</PageTitle>


<div>
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="page">
        <header class="standardGreen" style="height:2rem">
            <div class ="vertical-center" style="color:white;position:relative;padding-left:20px">
                Video Share
            </div>
        </header>
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</div>

@code{
    string adminHeader = "standardGreen"; //use standardGreen or adminRed depending on user
}