@inherits LayoutComponentBase

<PageTitle>VideoShareApp</PageTitle>


<div>
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="page">
        <AppHeader />
        <AuthorizeView>
            <Authorized>
                <main>
                    <article class="content px-4">
                        @Body
                    </article>
                </main>
            </Authorized>
            <NotAuthorized>
                <RedirectToLogin/>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>