.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.top-row {
    width:120%;
    height: 80px;
    background-color: #e5e5e5;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 18px;
}

.navbar-brand {
    font-size: 1.1rem;
    color: #000000;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    background: #E5E5E5;
    border: 5px solid rgba(0, 0, 0, 0.3);
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item ::deep a {
    color: #000000;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item ::deep a:hover {
background-color: rgba(255,255,255,0.1);
}
