@page "/Admin/AllCourses"
@using Microsoft.EntityFrameworkCore;
@using Syncfusion.Blazor.Grids;
@using VideoShareData.Models
@inject WebAppDbContext _context;

<PageTitle>All Courses</PageTitle>

<h1 class:"justify-content-center" style:"text-decoration: underline">All Courses</h1>

@if (AllCourses is null)
{
    <div>Loading...</div>
}
else
{
    <SfGrid @ref="coursesGrid" DataSource="@AllCourses" AllowFiltering="true" AllowSorting="true" Width="100%">
        <GridColumns>
            <GridColumn Field=@nameof(AllCourse.CourseName) HeaderText="Name" AllowSorting="true" AllowSearching="true"/>
            <GridColumn Field=@nameof(AllCourse.FullName) HeaderText="Owner" AllowSorting="true" AllowSearching="true"/>
            <GridColumn Field=@nameof(AllCourse.NumStudents) HeaderText="# Students" AllowSorting="true" AllowSearching="false" AllowFiltering="false"/>
            <GridColumn Field=@nameof(AllCourse.NumVideos) HeaderText="# Videos" AllowSorting="true" AllowSearching="false" AllowFiltering="false"/>
            <GridColumn Field=@nameof(AllCourse.DateCreated) HeaderText="Date Created" AllowSorting="true" AllowSearching="false" Format="d"/>
        </GridColumns>
    </SfGrid>
}

@code{
    SfGrid<AllCourse> coursesGrid;
    List<AllCourse>? AllCourses { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AllCourses = await _context.AllCourses//NOTE: Issues with foreign key - just make a view for it
            .ToListAsync();
    }
}